<ion-view title="REGISTER NOW!" id="page9" class=" ">
    <ion-content padding="true" style="background: url(img/Kbb59sW0S66tMENB8JeG_X1rTjGXpiR.png) no-repeat center;background-size:cover;" class="has-header">
        <form id="rEGISTERNOW-form4" class="list ">
            <ion-item class="item-divider " id="rEGISTERNOW-list-item-divider8">Firstname</ion-item>
            <label class="item item-input " id="rEGISTERNOW-input15">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="item-divider " id="rEGISTERNOW-list-item-divider9">Lastname</ion-item>
            <label class="item item-input " id="rEGISTERNOW-input16">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="item-divider " id="rEGISTERNOW-list-item-divider10">Password</ion-item>
            <label class="item item-input " id="rEGISTERNOW-input17">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="item-divider " id="rEGISTERNOW-list-item-divider11">Confirm Password</ion-item>
            <label class="item item-input " id="rEGISTERNOW-input18">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <a ui-sref="whatDoesTheDoctorSayToYou" id="rEGISTERNOW-button9" class=" button button-balanced  button-block ">Save</a>
            <button id="rEGISTERNOW-button12" class=" button button-assertive  button-block ">Cancel</button>
        </form>
    </ion-content>
</ion-view>