<ion-view title="What does the doctor say to you?" id="page4" class=" ">
    <ion-content padding="true" style="background: url(img/DeIXSeZWSFWl9iGTs8or_X1rTjGXpiR.png) no-repeat center;background-size:cover;" class="has-header">
        <ion-list id="whatDoesTheDoctorSayToYou-list3" class=" ">
            <ion-item class="item-divider " id="whatDoesTheDoctorSayToYou-list-item-divider1">Name of Medicine</ion-item>
            <label class="item item-input " id="whatDoesTheDoctorSayToYou-input5">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="item-divider " id="whatDoesTheDoctorSayToYou-list-item-divider3">How many each day?</ion-item>
            <label class="item item-input " id="whatDoesTheDoctorSayToYou-input6">
                <span class="input-label">Input</span>
                <input type="number" placeholder="">
            </label>
            <ion-item class="item-divider " id="whatDoesTheDoctorSayToYou-list-item-divider4">How long do you have to take it?</ion-item>
            <label class="item item-input " id="whatDoesTheDoctorSayToYou-input7">
                <span class="input-label">Input</span>
                <input type="number" placeholder="">
            </label>
        </ion-list>
        <div id="whatDoesTheDoctorSayToYou-button-bar1" class=" button-bar ">
            <a ui-sref="getWellSoon" id="whatDoesTheDoctorSayToYou-button10" class=" button button-positive  button-block ">Save</a>
            <button id="whatDoesTheDoctorSayToYou-button11" class=" button button-assertive  button-block ">Cancel</button>
        </div>
    </ion-content>
</ion-view>