<ion-view title="LOGIN" id="page8" class=" ">
    <ion-content padding="true" style="background: url(img/Rn5vRBe5SgmfpHS9vtKO_X1rTjGXpiR.png) no-repeat center;background-size:cover;" class="has-header">
        <form id="lOGIN-form3" class="list ">
            <label class="item item-input " id="lOGIN-input13">
                <span class="input-label">Username</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="lOGIN-input14">
                <span class="input-label">Password</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="doctorSReminders" id="lOGIN-button7" class=" button button-positive  button-block ">LOGIN</a>
        <a ui-sref="rEGISTERNOW" id="lOGIN-button8" class=" button button-assertive  button-block ">don't have an account?</a>
    </ion-content>
</ion-view>